<style>
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
</style>

<style>
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
</style>

<style>
@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');
</style>

<style>
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
</style>

<style>
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
</style>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');
</style>

<style>
body{
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQoU2NkIBIwEqmOAVnhfwYGFD6KGWSZiNcVw8pEAEZ0AQuafugDAAAAAElFTkSuQmCC);
}

.pink{
	background:#E72BF0;
}

.box4{
	width:350px;
  height:25px;
  position: relative;
  left: 400px;
  top: 65px;
  opacity: 0.5;
  z-index: 1;
}

.text{
  position: relative;
  z-index: 10000;
}
</style>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<div class="box4 pink"></div>
<center><h1 class="text" style="font-family: 'Open Sans', sans-serif; font-size:40px;"><font color="#181818">ADD NEW YEAR</h1></center>
<div class="center" class="conatiner">
    <form class="col-lg-5" action="/signup" method="post">
        <div class="controls">
            <div class="form-group">
                <input style="font-family:Courier New, Courier, monospace;"  class="form-control input-lg" name="name" placeholder="Enter Year" required><br>
                <input style="font-family:Courier New, Courier, monospace;"  class="form-control input-lg" name="password" type="password" placeholder="Enter password" required><br>
                <input style="font-family:Courier New, Courier, monospace;"  class="form-control input-lg" name="password_confirmation" type="password" placeholder="Confirm password" required>
            </div>
            <div>
                <input style="font-family: 'Righteous', cursive; font-style:bold;color:#E72BF0" class="form-control col-lq-4" type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>
</div>

<style>
.center {
display: block;
margin-left: 30%;
margin-right: 30%;
  width: 100%;
}
</style>